@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

#hidden {
    display: none;
}

body, html {
    margin: 0;
    padding: 0;
    min-width: 100%;
    overflow: auto;
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: bold;
    background-color: #caa2a2;
}

.centered-text {
    margin: 0;
    text-align: center;
}

svg {
    width: 3rem;
}

#hamburger {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 100%;
}

#hero-img {
    max-width: 75vw;
}

#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 65vh;
    width: 100%;
    background-color: #EBE2D4;
}

#hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    z-index: 1;
    font-family: 'Josefin Sans', sans-serif; 
}

#button-col {
    font-family: 'Josefin Sans', sans-serif; 
    left: 50vw;
    height: 18vh;
    width: 60vw;
    margin: 2vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 3vh;
    filter: drop-shadow(.25rem .25rem  .25rem rgb(180, 111, 51))
}


.button-orange {
    background-color: #E99F2F;
    padding: 1.5vh 4vw;
    border-radius: 4px;
    text-decoration: none;
}

.button-orange:visited {
    color: black;
}

.button-orange:hover{
    rotate: -15deg;
}
.button-orange:active .orange{
    animation-name: getbig;
    animation-duration: 1s;
    animation-timing-function: linear;
}
.button-orange:active .menutext{
    color: #E99F2F;
    transition: 1s;
    /*animation-name: getsmall;
    animation-duration: 1s;
    animation-timing-function: linear;*/
}

#button-blue {
    width: 400px;
    height: 80px;
    background-color: #388AA9;
    margin: 20px;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    border-radius: 4px;
    font-size: 26px;
    color:yellow;
    padding-right: 35px;
    padding-left: 35px;
    font-family: sans-serif;
    font-weight:bold;
}

#button-blue:hover{
    background-color: #4AA7C9;
    scale: 1.1;
}

.orange {
    width: 200px;
    height: 60px;
    position:absolute;
    background-color: #E99F2F;
    margin: 20px;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    border-radius: 4px;
    font-size: 26px;
    color:black;
    padding-right: 35px;
    padding-left: 35px;
    font-family: sans-serif;
    font-weight:bold;
    z-index: 0;
    left: 45%;
} 

.menutext{
    position: absolute;
    left:45%;
}

@keyframes getbig{
    from{ transform: scale(1)}
    to{ transform: scale(50)}
}
@keyframes getsmall{
    from{ transform: scale(1)}
    to{ transform: scale(.02)}
}

#hours {
    color: black;
    font-size: 2vh;
}

h3 {
    margin: .25rem 0rem;
}

.hours {
    margin: 5% 0;
}

h2 {
    text-align: center;
}

#order-card {
    font-family: 'Josefin Sans', sans-serif; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #EBE2D4;
    height: 7rem;
    margin: 2rem;
    padding: .5rem;
}

#carousel {
    max-width: 60vw;
}

.carousel-img {
    position: relative;
    left: 5vw;
    width: 100%;
    height: auto;
}

/* Add more styling for your content sections */
.content-section {
    padding: 2.5vh;
    background: #f4f4f4; /* Adjust background color as needed */
}

.image-container {
    left: 10vw;
    height: 18vh;
    width: 60vw;
    margin: 2vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.image-container img {
    margin: 0 10px; /* Adjust the margin as needed */
    max-width: 100%;
    height: auto;
}

.zondy-guy img {
    position: relative;
    left: 5vw;
    width: 100%;
    height: auto;
}
