@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

#hidden {
    display: none;
}

body, html {
    margin: 0;
    padding: 0;
    min-width: 100%;
    overflow: auto;
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: bold;
    background-color: #EBE2D4;
}

.centered-text {
    margin: 0;
    text-align: center;
}

svg {
    width: 3rem;
}

.circle {
    height: 10rem;
    width: 10rem;
    background-color: #E99F2F;
    border-radius: 50%;
}

#zondy-icon {
    max-width: 10vh;
    max-height: 10vh;
    position:absolute;
    right: 2.5vw;
    top: 7vh;
}

#hamburger {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 100%;
}

#hero-container {
    display: flex;
    flex-direction: column;
    max-height: 40vh;
}

#hero-img {
    max-width: 75vw;
}

#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 5vh;
    background-color: #EBE2D4;
}

#hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    z-index: 1;
    font-family: 'Josefin Sans', sans-serif; 
}

#button-col {
    font-family: 'Josefin Sans', sans-serif; 
    left: 50vw;
    height: 18vh;
    width: 60vw;
    margin: 2vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 3vh;
    filter: drop-shadow(.25rem .25rem  .25rem rgb(180, 111, 51));
}


.button-orange {
    background-color: #E99F2F;
    padding: 1.5vh 4vw;
    border-radius: 2px;
    text-decoration: none;
}

.button-orange:visited {
    color: black;
}

.button-orange:hover{
    rotate: -15deg;
}
.button-orange:active .orange{
    transform: scale(50);
    transition: 1s;
}
.button-orange:active .menutext{
    color: #E99F2F;
    transition: 1s;
}

@keyframes getbig{
    from{ transform: scale(1)}
    to{ transform: scale(50)}
}

#hours {
    color: black;
    font-size: 2vh;
}

h3 {
    margin: .25rem 0rem;
}

.hours {
    margin: 5% 0;
}

h2 {
    text-align: center;
}

#bubble {
    width: 40vw;
}

#item-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.menu-items {
    width: 30vw;
}

.background-circle {
    display:flex;
    width: 28vw;
    height: 28vw;
    background-color: #E99F2F;
    border-radius: 50%;
    margin-top: -15rem;
}

#gingerbread-img, #mocha-img, #caramel-img {
    width: 25vw;
}

#button-blue {
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    width: 75vw;
    height: 10vh;
    padding: 0% 10%;
    border-radius: 4px;
    border: none;

    background-color: #388AA9;
    filter: drop-shadow(.25rem .25rem  .25rem #18566d);
    color:white;
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: bold;
    font-size: 2.5vh;
}

#button-blue:hover{
    background-color: #4AA7C9;
    scale: 1.1;
}

#order-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    width: 90vw;
    margin-left: 3vw;
    margin-top: 3vh;
    padding: 2vw;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vh;
    background-color: #EBE2D4;
}

#artist-img {
    position: absolute;
    right: 3rem;
    z-index: 1;
    height: 40vh;
}

#artist-circle {
    display:flex;
    width: 28vw;
    height: 28vw;
    background-color: #E99F2F;
    border-radius: 50%;
    margin-top: -15rem;
}

#carousel {
    max-width: 60vw;
}

.carousel-img {
    position: static;
    left: 5vw;
    width: 100%;
    height: auto;
}

/* Add more styling for your content sections */
.content-section {
    padding: 2.5vh;
    background: #f4f4f4; /* Adjust background color as needed */
}

.image-container {
    left: 10vw;
    height: 18vh;
    width: 60vw;
    margin: 2vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.image-container img {
    margin: 0 10px; /* Adjust the margin as needed */
    max-width: 100%;
    height: auto;
}

.zondy-guy img {
    position: relative;
    left: 5vw;
    width: 100%;
    height: auto;
}
