body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Arial", sans-serif; /* Choose your preferred font */
    background-color: #f4f4f4;
}

.centered-text {
    margin: 0;
    text-align: center;
}

svg {
    width: 3rem;
}

#hamburger {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#hero-img {
    width: 75vw;
}

#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 60vh;
    width: 100vw;
    background-color: #EBE2D4;
}

#hero-content {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    z-index: 1;
}

#button-blue{
    background-color: cadetblue;
}

#hours {
    color: black;
}

h3 {
    margin: .25rem 0rem;
}

.hours {
    margin: 0;
}

h2 {
    text-align: center;
}

#order-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #EBE2D4;
    height: 7rem;
    margin: 2rem;
    padding: .5rem;
}

#button-col {
    left: 50vw;
    height: 4rem;
    width: 10rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#carousel {
    max-width: 60vw;
}

.carousel-img {
    position: relative;
    left: 5vw;
    width: 100%;
    height: auto;
}

#hidden {
    display: none;
}

/* Add more styling for your content sections */
.content-section {
    padding: 50px;
    background: #f4f4f4; /* Adjust background color as needed */
}